.cartoon {
    box-sizing: border-box;
}

.b {
    border: 0.3vmin solid black;
}

.r {
    border-radius: 100%;
}

.hb::before,
.ha::after {
    content: "";
    display: block;
    position: absolute;
}

/****/
.cartoon {
    --skin: #fca;
    --cheek: rgba(200, 0, 0, 0.15);
    --hair: #631;
    --shirt: #fff;
}

.bubble {
    width: 40%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vmin;
    background: #ffd;
    box-shadow: 0 -0.25vmin, 0 0.125vmin;
    font-family: "Comic Sans", "Comic Neue", sans-serif;
    box-sizing: border-box;
    padding: 4rem
}
