.cartoon {
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    top: 10rem;
    right: 35%
}

@media only screen and (max-width: 700px) {
    .carton {
        left: -15rem
    }
}

.cartoon div {
    position: absolute;
    box-sizing: border-box;
}

.b {
    border: 0.5vmin solid black;
}

.r {
    border-radius: 100%;
}

.hb::before,
.ha::after {
    content: "";
    display: block;
    position: absolute;
}

/****/
.cartoon {
    --skin: #fca;
    --cheek: rgba(200, 0, 0, 0.15);
    --hair: #631;
    --shirt: #fff;
}

.bubble {
    width: 40%;
    height: 25%;
    /*top: 20%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vmin;
    background: #ffd;
    box-shadow: 0 -0.25vmin, 0 0.125vmin;
    font-family: "Comic Sans", "Comic Neue", sans-serif;
}

/* Animation */
/*.anim-typewriter{*/
/*    animation: typewriter 4s steps(44) 1s 1 normal both,*/
/*    blinkTextCursor 500ms steps(44) infinite normal;*/
/*}*/
/*@keyframes typewriter{*/
/*    from{width: 0;}*/
/*    to{width: 24em;}*/
/*}*/
/*@keyframes blinkTextCursor{*/
/*    from{border-right-color: rgba(255,255,255,.75);}*/
/*    to{border-right-color: transparent;}*/
/*}*/